/tilt_option.json*
# Output binary.
/newrelic-infra-operator
# Output binary for non-default GOOS/GOARCH pairs (e.g. newrelic-infra-operator-linux-arm).
/newrelic-infra-operator-*
/kubeconfig
/vendor
