name: CI
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 13 * * *'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64, arm ]
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build binary
        run: make build

      - name: Build docker image
        if: matrix.goos == 'linux' && matrix.goarch == 'amd64'
        env:
          DOCKER_BUILDKIT: 1 # Required for docker to populate TARGETOS/TARGETARCH
        run: make image

      - name: Run CI checks
        if: matrix.goos == 'linux' && matrix.goarch == 'amd64'
        run: make ci

  integration:
    name: Integration and e2e
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: newrelic-infra-operator

      - name: Checkout charts repository for deployments
        uses: actions/checkout@v2
        with:
          repository: newrelic/helm-charts
          ref: invidian/nri-kubernetes-operator
          path: helm-charts-newrelic

      - name: Install Helm
        uses: azure/setup-helm@v1

      - name: Install kind
        run: go install sigs.k8s.io/kind@v0.10.0

      - name: Create k8s Kind Cluster
        run: make -C newrelic-infra-operator kind

      - name: Run integration tests
        run: make -C newrelic-infra-operator test-integration

      - name: Build Docker image
        run: make -C newrelic-infra-operator image-push IMAGE_REPO=localhost:5000/newrelic-infra-operator

      - name: Create Helm release
        env:
          KUBECONFIG: ./newrelic-infra-operator/kubeconfig
        run: |
          helm install e2e ./helm-charts-newrelic/charts/newrelic-infra-operator --values ./newrelic-infra-operator/values-dev.yaml --set image.repository=localhost:5000/newrelic-infra-operator

      - name: Run e2e tests
        run: make -C newrelic-infra-operator ./test-e2e

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Check linters are up to date
        run: make check-update-linters
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true

  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Codespell test
        uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          check_hidden: true
          skip: ./.git
